/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";
@import "ghost/pagination.css";
@import "ghost/comments.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fonts
/* ---------------------------------------------------------- */

@font-face {
    font-family: "Messer";
    src: url("../fonts/hinted-messerv20-condensed.woff2") format("woff2"),
      url("../fonts/hinted-messerv20-condensed.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-bold.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-black.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-blackitalic.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-blackitalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-bolditalic.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-bolditalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl Book";
    src: url("../fonts/hinted-suisseintl-book.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl Book";
    src: url("../fonts/hinted-suisseintl-bookitalic.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-bookitalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-medium.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-lightitalic.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-lightitalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-light.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-mediumitalic.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-mediumitalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-italic.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-regular.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl Semi";
    src: url("../fonts/hinted-suisseintl-semiboldItalic.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-semiboldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-thin.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl Semi";
    src: url("../fonts/hinted-suisseintl-semibold.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-thinitalic.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-thinitalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-ultralight.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-ultralight.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Suisse Intl";
    src: url("../fonts/hinted-suisseintl-ultralightitalic.woff2") format("woff2"),
      url("../fonts/hinted-suisseintl-ultralightitalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fff8dc;
}

.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.gh-page {
    padding: 0 4vmin;
}

.gh-article {
    padding: 8vmin 3vmin;
}

.gh-title {
    font-family: var(--font-display);
    font-size: 12vw;
    text-align: left;
    margin-bottom: 4vmin;
}

.gh-postfeed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 4.8vmin 4vmin;
    padding: 8vmin 0;
}

.gh-postfeed > *:first-child {
    grid-column: 1 / -1;
}

@media (min-width: 768px) {

    .gh-postfeed > *:first-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .gh-postfeed > *:first-child .gh-card-content {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    .gh-postfeed > *:first-child .gh-card-content .gh-card-title {
        font-size: 9vw !important;
    }
    
    .gh-postfeed > *:first-child > .gh-card-link {
        grid-column-start: 2;
        margin: auto;
        padding: auto;
    }

    .gh-postfeed > *:first-child .gh-card-content,
    .gh-postfeed > *:first-child .gh-card-picture {
        margin: 0;
        padding: 0;
    }
}

.gh-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gh-head-actions a:not(.gh-button) {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

/* .gh-card:not(:first-child) {
    margin: 8vmin auto 0;
} */

.gh-card-title {
    font-family: var(--font-display);
    font-size: 3rem;
}

.gh-card-link {
    display: flex;
    flex-direction: column;
}

.gh-card-image {
    width: 100%;
    /* max-height: 700px; */
    object-fit: cover;
    margin-bottom: 4vmin;
    aspect-ratio: 1 / 1;
}

.gh-card-image:first-of-type {
    aspect-ratio: 16 / 9;
}


.gh-card-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-card-content {
    max-width: 720px;
    margin: 0 auto;
    text-align: left;
    font-size: 1.6rem;
}

.gh-card-content p {
    margin: 1.2rem 0;
    padding: 0 3vmin;
}

.gh-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset currentColor;
    opacity: 0.75;
}


/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
}


/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 0 0 8vmin 0;
    text-align: left;
}

@media (min-width: 768px) {
    .gh-header {
        display: flex;
        flex-wrap: wrap;
    }
    .gh-header > * {
        flex: 1 1 50%; /* Make each child element take up 50% of the width */
        box-sizing: border-box; /* Ensure padding and border are included in the width and height calculations */
    }

    .gh-image {
        grid-column: wide;
        margin-top: 0px !important;
    }
}

.gh-post-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
}

.gh-excerpt {
    margin: 1rem 0 4rem 0;
    font-size: 1.75rem;
}

@media (min-width: 768px) {
    .gh-excerpt {
        max-width: 35vw;
    }
}

.gh-feature-image {
    grid-column: wide-start / wide-end;
    width: 100%;
    margin: 8vmin 0 0;
}

.gh-feature-image img {
    margin-inline: auto;
    width: 100%;
}

.gh-post-footer {
    margin: 2rem 0;
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0,0,0,0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}
